<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image "></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
  
                <!-- Sign In Form -->
                <form [formGroup]="loginform">
                  <div class="form-floating mb-3">
                    <input type="text" name="staff_id" formControlName="staff_id" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Enter Staff Id</label>
                    <div *ngIf=" this.loginform.get('staff_id')?.errors && this.loginform.get('staff_id')?.touched "class="text-danger mb-2">enter a valid staff_Id</div>
                    <div *ngIf= "this.staffidvalue==false && this.loginform.get('staff_id')?.untouched" class="text-danger mb-2">This field is required</div>

                  </div>
                  <div class="form-floating mb-3">
                    <input type="password"  name="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <div *ngIf=" this.loginform.get('password')?.errors && this.loginform.get('password')?.touched "class="text-danger mb-2">enter a valid password</div>
                    <div *ngIf=" this.passwordvalue==false  && this.loginform.get('password')?.untouched" class="text-danger mb-2">This field is required</div>

                  </div>
  
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Remember password
                    </label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" (click)="login()" type="submit">Sign in</button>
                    <div class="text-center">
                      <a class="small" href="#">Forgot password?</a>
                    </div>
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  