<section  style="height: 130vh;" >

    <h1 class="text-center mt-5 mb-5">Our facilities</h1>

    <div class="d-flex  flex-wrap col-12 ps-4" style="height: 500px; width: 100%;">
        <img style="width: 350px; height: 300px;" class="me-5 ms-5 mb-5" src="https://img.freepik.com/free-photo/hospital-room-interior_181624-34428.jpg?size=626&ext=jpg&ga=GA1.2.141373315.1671868376&semt=ais" alt="">
        <img style="width: 350px; height: 300px;" class="me-5 mb-5"  src="https://img.freepik.com/free-photo/gynecological-room-hospital_7502-8389.jpg?size=626&ext=jpg&ga=GA1.2.141373315.1671868376&semt=ais" alt="">
        <img style="width: 350px; height: 300px;" class="me-5 mb-5"  src="https://img.freepik.com/free-photo/empty-hospital-ward-designed-with-medical-equipment_482257-7609.jpg?size=626&ext=jpg&ga=GA1.2.141373315.1671868376&semt=ais" alt="">

        <img style="width: 350px; height: 300px;" class="me-5 ms-5" src="https://img.freepik.com/free-photo/male-patient-bed-hospital_23-2148981191.jpg?size=626&ext=jpg&ga=GA1.1.141373315.1671868376&semt=ais" alt="">
        <img style="width: 350px; height: 300px;" class="me-5 mb-5"  src="https://img.freepik.com/free-photo/fiendly-doctor-hands-holding-patient-hand-hospital-room-giving-encouragement-empathy-support-during-medical-examination_482257-2184.jpg?size=626&ext=jpg&ga=GA1.1.141373315.1671868376&semt=ais" alt="">
        <img style="width: 350px; height: 300px;" class="me-5 mb-5"  src="https://img.freepik.com/free-photo/clinical-reception-with-waiting-room-facility-lobby-registration-counter-used-patients-with-medical-appointments-empty-reception-desk-health-center-checkup-visits_482257-51247.jpg?size=626&ext=jpg&ga=GA1.2.141373315.1671868376&semt=ais" alt="">

   
   
    </div>


   

</section>
