<div class="col-12">
    <div class="mt-5 header mb-5">
      <h3 class="text-dark">conformed Appointment</h3>
      <h6 class="text-dark mt-3">Dashbord/ conformed Appointment</h6>
    </div>
    <div class="me-lg-4">
      <div class="table-responsive">
        <table class="table bg-white table-detail">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Patient Name<i class="ms-2 fa-solid fa-right-left fa-rotate-90"></i></th>
              <th scope="col">Speciality<i class="ms-2 fa-solid fa-right-left fa-rotate-90"></i></th>
              <th scope="col">Docters Name<i class="ms-2 fa-solid fa-right-left fa-rotate-90"></i></th>
              <th scope="col">time<i class="ms-2 fa-solid fa-right-left fa-rotate-90"></i></th>
              <th scope="col"> paymentStatus<i class="ms-2 fa-solid fa-right-left fa-rotate-90"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>pavan</td>
              
              <td>Pediatretion</td>
              <td>
                <img class="dr-pic me-2" height="30px" src="https://doccure.dreamguystech.com/laravel/template-cardiology/public/assets_admin/img/doctors/doctor-thumb-03.jpg" alt="">
                Dr.Anees
              </td>
              <td >12:30</td>
              
              <td><i class="fa-solid fa-circle-check  ms-5" style="color: #35b14e;"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
