.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

.container-bg{
 
  background-color: #b2c4d4 ;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.table-detail{
  margin-right: 20px;
}
.dr-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}